:root{
    --primary-color:#adf0d4;
    --secondary-color: #1fd8a4;
    --bg-color: #0d1512;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 250ms;
}

body{
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;
}

.darkerText{
    color:var(--secondary-color);
}

header,main,footer{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

p{
    font-size: 1.05em;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

nav{
    color: var(--secondary-color);
    display: flex;
    align-items:center;
    gap: 32px;
}

nav a:hover {
    opacity: 0.7;
}

nav a{
    cursor: pointer;
}

main, section, .nameContainer{
    display:flex;
    flex-direction: column;

}

main{
    gap: 64px;
    padding-bottom: 64px;
}

section{
    gap: 50px;
}

.name{   
    gap: 10px;
}

.stats-Container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}


.img-Container{
    border-radius: 100%;
    max-width: 114px;
    overflow: hidden;
}

.img-Container img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.stats{
    display:flex;
    flex-direction: column;
    gap: 14px;
}
.stats>div{
    flex: 1;
    display: flex;
    align-self: center;
    gap: 10px;
}
.stats div i{
    font-size: 1.5em;
}

.stats div div{
    display: grid;
    place-items: center;
    min-width: 40px;
}
.about-Me{
    line-height: 1.5em;
}
.outreach{
    display:flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-right: auto;
    width:fit-content;
}
.outreach:hover{
    opacity: 0.7;
}
.outreach i{
    transform: rotate(-45deg);
}

.project-Container{
    display:flex;
    flex-direction: column;
    gap: 24px;
}
.header-text{
    margin-bottom: 24px;
}
.project-entry{
    display:flex;
    align-items: center;
    gap: 24px;
}

.project-entry div:first-child{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.project-entry div:last-child{
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;   
}

.project-entry div:last-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 640px){
    .stats{
        gap: 0px;
    }
    .stats-Container{
        flex-direction: row;
    }
    .about-Me{
        width: 80%;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    header, main, footer{
        max-width: 768px;
    }
}

@media screen and (min-width: 960px) {
    header, main, footer{
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    header, main, footer{
        max-width: 1200px;
    }
}
